<div class="ws-advertorial-shopify-section">
  <div class="ws-advertorial-container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'richtext' %}
          <div class="ws-advertorial-container-item">
            <div
              class="ws-advertorial-text"
              style="
                padding-left:{{block.settings.padding-left}}px;
                padding-right:{{block.settings.padding-right}}px;
                padding-top:{{block.settings.padding-top}}px;
                padding-bottom:{{block.settings.padding-bottom}}px;
                margin-left:{{block.settings.margin-left}}px;
                margin-right:{{block.settings.margin-right}}px;
                margin-top:{{block.settings.margin-top}}px;
                margin-bottom:{{block.settings.margin-bottom}}px;
                background-color:{{block.settings.background_color}};
                {%if block.settings.border-left%} border-left: 5px solid; {%else%}border-radius:{{block.settings.border-radius}}px;{%endif%}
                color: {{ block.settings.text_color }};
                text-align: {{ block.settings.text_align }};
              "
            >
              <div
                class="ws-advertorial-text-content"
                style="
                  font-size:{{block.settings.font-size}}px;
                  {%if block.settings.line-height%} line-height:{{block.settings.line-height}};{%endif%}
                "
              >
                {{ block.settings.content }}
              </div>
            </div>
          </div>

        {% when 'image' %}
          {% if block.settings.image %}
            <div class="ws-advertorial-container-item">
              <div class="ws-advertorial-image"><img src="{{block.settings.image | image_url}}"></div>
            </div>
          {% endif %}
        {% when 'button' %}
          <div
            class="ws-advertorial-container-item"
            style="
              font-size:{{block.settings.font-size}}px;
              {%if block.settings.line-height%} line-height:{{block.settings.line-height}};{%endif%}
              background-color:{{block.settings.background-color}};
              {%if block.settings.border%}border: 1px solid #000;{%endif%}
              padding-top:{{block.settings.padding-top}}px;
              padding-bottom:{{block.settings.padding-bottom}}px;
               margin-top:{{block.settings.margin-top}}px;
              margin-bottom:{{block.settings.margin-bottom}}px;
            "
          >
            <a href="{{block.settings.button-url}}" class="ws-advertorial-button">
              {{- block.settings['button-text'] -}}
            </a>
          </div>
      {% endcase %}
    {% endfor %}
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'sticky' %}
        <div class="ws-advertorial-sticky">
          <div class="ws-advertorial-container-item ws-advertorial-container-sticky">
            <div class="ws-advertorial-text">{{ block.settings.text }}</div>
            <div class="ws-advertorial-socials">
              <img src="{{block.settings.facebook | image_url}}" href="{{block.settings.facebook_url}}">
              <img src="{{block.settings.twitter| image_url}}" href="{{block.settings.twitter_url}}">
              <img src="{{block.settings.instagram| image_url}}" href="{{block.settings.instagram_url}}">
              <img src="{{block.settings.pinterest| image_url}}" href="{{block.settings.pinterest_url}}">
            </div>
            <div class="ws-advertorial-main">
              <img class="ws-advertorial-main__logo" src="{{block.settings.logo | image_url}}">
              <div
                class="ws-advertorial-heading"
                style="
                  font-size: {{block.settings.font-size-header}}px;
                  line-height: {{block.settings.line-height-header}};
                "
              >
                {{ block.settings.header }}
              </div>
              <img class="ws-advertorial-main__image" src="{{block.settings.main_image| image_url}}">
              <div
                class="ws-advertorial-content"
                style="
                  font-size: {{block.settings.font-size-content}}px;
                  line-height: {{block.settings.line-height-content}};
                "
              >
                {{ block.settings.content }}
              </div>
              <a class="ws-advertorial-btn" href="{{block.settings.btn_url}}"> {{ block.settings.btn_text }}</a>
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "TPAX-Advertorial",
    "presets" : [
        {
            "category":"Advertorial",
            "name":"Advertorial",
            "blocks": [
                {
                    "type":"richtext"
                },
                {
                    "type":"image"
                },
                {
                    "type":"button"
                },
                {
                    "type":"sticky"
                },
                {
                    "type":"video"
                }
            ]
        }
    ],
    "settings": [

    ],
    "blocks": [
         {
            "type":"sticky",
            "name":"Featured Product",
            "limit":1,
            "settings": [
                {
                    "type":"text",
                    "label":"Title",
                    "id":"text",
                    "default":"Follow Us"
                },
                {
                    "type":"image_picker",
                    "label":"Facebook Logo",
                    "id":"facebook"
                },
                {
                    "type":"text",
                    "label":"Facebook URL",
                    "id":"facebook_url"
                },
                {
                    "type":"image_picker",
                    "label":"Instagram Logo",
                    "id":"instagram"
                },
                {
                    "type":"text",
                    "label":"Instagram URL",
                    "id":"instagram_url"
                },
                {
                    "type":"image_picker",
                    "label":"Twitter Logo",
                    "id":"twitter"
                },
                {
                    "type":"text",
                    "label":"Twitter URL",
                    "id":"twitter_url"
                },
                {
                    "type":"image_picker",
                    "label":"Pinterest Logo",
                    "id":"pinterest"
                },
                {
                    "type":"text",
                    "label":"Pinterest URL",
                    "id":"pinterest_url"
                },
                // main content
                {
                    "type":"image_picker",
                    "label":"Logo",
                    "id":"logo"
                },
                {
                    "type":"richtext",
                    "label":"Header",
                    "id":"header"
                },
                 {
                    "type":"range",
                    "id":"font-size-header",
                    "label":"Font size header",
                    "default":24,
                    "min":1,
                    "max":50,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"line-height-header",
                    "label":"Line Height Header",
                    "default":1.5,
                    "min":1,
                    "max":5,
                    "step":0.1
                },
                 {
                    "type":"range",
                    "id":"font-size-content",
                    "label":"Font size content",
                    "default":16,
                    "min":1,
                    "max":50,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"line-height-content",
                    "label":"Line Height Content",
                    "default":1.5,
                    "min":1,
                    "max":5,
                    "step":0.1
                },
                {
                    "type":"image_picker",
                    "label":"Main content image",
                    "id":"main_image"
                },
                {
                    "type":"richtext",
                    "label":"Content",
                    "id":"content"
                },
                {
                    "type":"text",
                    "label":"Button URL",
                    "id":"btn_url"
                },
                {
                    "type":"text",
                    "label":"Button Text",
                    "id":"btn_text"
                }
            ]
        },
        {
            "type":"richtext",
            "name":"Richtext",
            "settings": [
                {
                    "type":"color",
                    "label":"Background color",
                    "id":"background_color",
                    "default":"#fff"
                },
              {
                    "type":"richtext",
                    "label":"Content",
                    "id":"content"
                },
              {
                    "type":"color",
                    "label":"Text color",
                    "id":"text_color",
                    "default":"#000000"
                },
                {
                    "type":"select",
                    "label":"Text alignment",
                    "id":"text_align",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type":"range",
                    "id":"font-size",
                    "label":"Font size",
                    "default":24,
                    "min":1,
                    "max":50,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"line-height",
                    "label":"Line Height",
                    "default":1.5,
                    "min":1,
                    "max":5,
                    "step":0.1
                },
                {
                    "type":"checkbox",
                    "label":"Border Left",
                    "id":"border-left"
                },
                 {
                    "type":"range",
                    "label":"Border radius",
                    "id":"border-radius",
                    "default":20,
                    "min":0,
                    "max":50,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"padding-top",
                    "label":"Padding Top",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"padding-bottom",
                    "label":"Padding Bottom",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"padding-left",
                    "label":"Padding Left",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"padding-right",
                    "label":"Padding Right",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"margin-top",
                    "label":"Margin Top",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"margin-bottom",
                    "label":"Margin Bottom",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"margin-left",
                    "label":"Margin Left",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"margin-right",
                    "label":"Margin Right",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                }
            ]
        },
        {
            "type":"image",
            "name":"Image",
            "settings": [
                {
                    "type":"image_picker",
                    "label":"Image",
                    "id":"image"
                }
            ]
        },
        {
            "type":"button",
            "name":"Button",
            "settings": [
                {
                    "type":"text",
                    "label":"Button Text",
                    "id":"button-text",
                    "default":"Button text"
                },
                {
                    "type":"range",
                    "id":"font-size",
                    "label":"Font size",
                    "default":24,
                    "min":1,
                    "max":50,
                    "step":1
                },
                {
                    "type":"text",
                    "label":"Button url",
                    "id":"button-url",
                    "default":"Button url"
                },
                 {
                    "type":"color",
                    "label":"Background color",
                    "id":"background-color",
                    "default":"#F0C14B"
                },
                 {
                    "type":"checkbox",
                    "label":"Border",
                    "id":"border",
                    "default":true
                },
                 {
                    "type":"range",
                    "id":"padding-top",
                    "label":"Padding Top",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"padding-bottom",
                    "label":"Padding Bottom",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                  {
                    "type":"range",
                    "id":"margin-top",
                    "label":"Margin Top",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
                {
                    "type":"range",
                    "id":"margin-bottom",
                    "label":"Margin Bottom",
                    "default":0,
                    "min":0,
                    "max":100,
                    "step":1
                },
            ]
        },
        {
            "type":"video",
            "name":"Video",
            "settings": [
                {
                    "type":"video",
                    "label":"Video file",
                    "id":"video"
                },
                {
                    "type":"video_url",
                    "label":"Video URL",
                    "id":"video_url",
                    "accept": ["youtube", "vimeo"]
                },
                {
                    "type":"select",
                    "label":"Video size",
                    "id":"video_size",
                    "options": [
                        {
                            "value": "small",
                            "label": "Small"
                        },
                        {
                            "value": "medium",
                            "label": "Medium"
                        },
                        {
                            "value": "large",
                            "label": "Large"
                        }
                    ],
                    "default": "medium"
                }
            ]
        }
    ]
}
{% endschema %}

{% style %}
  a {
      color: inherit;
  }
  .ws-advertorial-shopify-section {
      max-width: 1200px;
      margin: 0 auto;
      display:flex;
      gap: 20px;
  }

  .ws-advertorial-container {
      padding-left: 15px;
  }
  .ws-advertorial-text{
      padding-left: {{}}
  }
  .ws-advertorial-text h2,.ws-advertorial-text h1,.ws-advertorial-text h3{
      margin:0;
      padding:0;
  }
  .ws-advertorial-text p {
      margin:0;
      padding:0;
  }
  .ws-advertorial-sticky {
      position: sticky;
      top: 0;
      height: fit-content;
      flex: 0 0 22%;
  }
  .ws-advertorial-heading {
      display: block;
      text-align: center;
      padding: 14px 20px;
      letter-spacing: -1.2px;
  }
  .ws-advertorial-heading p {
      margin: 0;
      padding: 0;
  }
  img.ws-advertorial-main__logo, .ws-advertorial-main__image {
      display: flex;
      margin: 0 auto;
  }
  .ws-advertorial-main {
      border: 1px solid #221366;
      border-radius: 20px;
      padding-top:14px;
  }
  .ws-advertorial-content{
       padding: 14px 20px;
  }
  .ws-advertorial-content p {
      margin: 0;
      padding: 0;
  }
  a.ws-advertorial-btn {
      display: flex;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      background: #221366;
      border-radius: 0px 0px 20px 20px;
      color: #FFF;
      padding:6px 0;
      text-decoration:unset;
  }
  .ws-advertorial-image img {
      display: block;
      width: 100%;
  }
  .ws-advertorial-button {
      text-align: center;
      display: block;
      font-weight: 700;
      text-decoration: none;
      line-height: 1;
  }
  @media (max-width: 768px) {
  .ws-advertorial-shopify-section {
      flex-direction: column;
  }
  .ws-advertorial-sticky {
      position: sticky;
      top: 0;
      height: fit-content;
      margin: 20px;
  }
  .ws-advertorial-container {
      padding: 0 15px;
  }
  }

  .ws-advertorial-text-content,
  .ws-advertorial-text-content h1,
  .ws-advertorial-text-content h2,
  .ws-advertorial-text-content h3,
  .ws-advertorial-text-content h4,
  .ws-advertorial-text-content h5,
  .ws-advertorial-text-content h6,
  .ws-advertorial-text-content p {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  .ws-advertorial-text-content h1 { font-size: 2em; }
  .ws-advertorial-text-content h2 { font-size: 1.5em; }
  .ws-advertorial-text-content h3 { font-size: 1.17em; }
  .ws-advertorial-text-content h4 { font-size: 1em; }
  .ws-advertorial-text-content h5 { font-size: 0.83em; }
  .ws-advertorial-text-content h6 { font-size: 0.67em; }
{% endstyle %}
